* {
  padding: 0;
  margin: 0;
}

body {
  height: 1000px;
  margin: 0;
  padding: 0;
}

.dt {
  left: 0px;
  top: 0px;
  position: fixed;
  z-index: 97;
  height: 30px;
  overflow: hidden;
  width: 100%;
  background-color: #f25a29;
  border-bottom: solid 1px #f5835f;
}

.dt a {
  position: relative;
  left: 100px;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-family: Arial;
  margin-right: 10px;
}

.dt span {
  float: right;
  line-height: 30px;
  color: #fff;
  padding: 0 60px;
}

.search {
  padding-top: 54px;
  width: 100%;
  height: 100px;
  display: inline-block;
}

.logo {
  width: 30%;
  height: 80%;
  position: relative;
  left: 60px;
}

.logo img {
  width: 50%;
  height: 100px;
  position: relative;
  top: -10px;
  left: 60px;
}

.input {
  width: 30%;
  height: 30px;
}

.input input {
  width: 30%;
  height: 44px;
  position: absolute;
  right: 590px;
  top: 70px;
  line-height: 100px;
}

.input .fa {
  width: 30%;
  height: 30px;
  position: absolute;
  right: 590px;
  top: 70px;
  line-height: 100px;
}

/* #iSear {
  padding-top: 1.5px;
  margin-right: 5px;
  width: 30px;
  height: 30px;

} */

.btn {
  width: 42px;
  height: 42px;
  position: absolute;
  top: 72px;
  right: 39%;
  background-color: #fff;
  border: none;
}

.image {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 72px;
  right: 35%;
  background-color: #fff;
  border: none;
}

.fas {
  top: 69px;
  margin-right: 60px;
}

.s {
  position: absolute;
  top: 60px;
  right: 260px;
}

.r {
  position: relative;
  float: right;
  left: 185%;
  bottom: 60px;
}

.r span {
  font-size: 18px;
}

.r b {
  color: #306472;
  font-size: 18px;
}

.r {
  display: block;
  /* Sử dụng flexbox để căn chỉnh các phần tử con ngang nhau */
}

.r img {
  margin-right: 10px;
  /* Khoảng cách giữa hình ảnh và văn bản */
  width: 30px;
  height: 30px;
  /* margin-top: 60px; */
}

/* CSS cho menu cơ bản */

.menu-container {
  background-color: #333;
  position: relative;
  height: 40px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0 80px;
  display: flex;
  justify-content: space-between;
  background-color: #333;
  height: 40px;
}

.menu-item {
  margin: 0;
  width: auto;
  text-align: center;
}

.menu-link:hover {
  background-color: #f25a29;
}

.menu-link {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  /* display: block; */
  display: inline-block;
  line-height: 40px;
  /* text-decoration: none;
color: #fff;
padding:  0 10px;
display: block;
line-height: 40px; */
  /* background-color: ; */
  width: max-content;
}

/* Hiệu ứng khi hover vào mục menu cha */

.menu-item:hover .submenu {
  display: block;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  /* background-color: #fff; */
  /* border: solid 2px #ccc; */
  width: 200px;
  background-color: #fff;
  z-index: 1;
  width: 80%;
  margin: 0 100px;
  cursor: pointer;
  /* text-decoration: underline; */
  border: solid 10px #f3f3f3;
}

.submenu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  /* Hiển thị các mục con trong cùng một hàng */
  /* flex-wrap: wrap; Cho phép các mục con chuyển hàng khi không đủ không gian */
  width: 80%;
  /* background-color: black;s */
}

.submenu-list1 {
  list-style: none;
  padding: 0;
  margin: 0;
  /* flex-wrap: wrap; Cho phép các mục con chuyển hàng khi không đủ không gian */
  width: 60%;
  height: 300px;
  /* background-image: url('https://noithatgiaphong.vn/img/m/p103.jpg'); */
  background-size: 30%;
  /* Sử dụng cover để hình nền bao phủ phần tử */
  background-repeat: no-repeat;
  background-color: red;
  float: right;
}

.submenu-item {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 300px;
}

.submenu-link {
  text-decoration: none;
  color: #3d3e42;
  display: block;
  padding: 8px 120px;
  text-align: left;
  /* border-bottom: 1px solid #ccc; */
  transition: background-color 0.3s;
  cursor: pointer;
  width: 50%;
  display: flex;
  /* Hiển thị các phần tử con trong cùng một hàng */
}

.submenu-link:hover {
  /* background-color: blue; */
  /* text-decoration: solid; */
  text-decoration: underline;
  color: red;
}

.menu-item .ok img {
  width: 250px;
  height: 250px;
  padding-top: 1px;
  float: right;
}

.ok img {
  margin-right: 60px;
}

.submenu img {
  display: inline;
}
